# NPM
node_modules/

#compiled
dist/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Temporary files
*.sw*

# IDEA Webstorm IDE folder
.idea

# Dolphin file browser info files
.directory

# OSX
.DS_Store

.sublimelinterrc
